body {
  overflow: hidden;
  background-color: #191919;
  user-select: none;
}

#grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.arrow {
  width: 5vw;
  height: 5vw;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: #262829;
}

#cur-highlight {
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: 120vw;
  top: calc(50vh - 20vw);
  background: radial-gradient(#26282950 5%, transparent 60%);
  z-index: -1;
}