* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 10vw;
    display: grid;
    place-items: center; /* 그리드 아이템을 가로 및 세로 중앙에 배치 */
    gap: 10px; /* 요소들 간의 간격을 추가합니다. */
}

h1 {
    font-family: sans-serif;
}

input {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid steelblue;
    font-size: 1.5rem;
    letter-spacing: 2px;
    outline: none;
    width: clamp(250px, 80%, 500px); /* 너비를 유동적으로 조절합니다. */
    text-align: center;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: steelblue;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4682b4; /* 약간 더 어두운 색상 */
}

/* QR 코드 div가 내용을 가운데 정렬하도록 합니다. */
#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* QR 코드를 감싸는 요소에 배경색을 추가하여 흰색 QR코드가 잘 보이도록 합니다. */
#qrcode img, #qrcode canvas {
    border: 5px solid #fff; /* 흰색 테두리 */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 그림자 */
}